{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link = "auditlog" %}
{% set section = _("Audit Logs") %}

{% block projectcontent %}
{% if logs %}
<table id="webhooks-table" class="table table-bordered table-condensed table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
        <th>{{ _('When') }}</th>
        <th>{{ _('Who') }}</th>
        <th>{{ _('Source') }}</th>
        <th>{{ _('Action') }}</th>
        <th>{{ _('Attribute') }}</th>
        <th>{{ _('Old Value') }}</th>
        <th>{{ _('New Value') }}</th>
    </tr>
  </thead>
{% for log in logs | sort(reverse=True, attribute='created') %}
    <tr>
        <td>{{log.created}}</td>
        <td>{% if current_user.name == log.user_name%}{{ _('You') }}{%else%}{{log.user_name}}{%endif%}</td>
        <td>{{log.caller}}</td>
        <td>{{log.action}}</td>
        <td>{{log.attribute}}</td>
        <td>{{(log.old_value or "Nothing")|truncate(30)}}</td>
        <td>{{(log.new_value or "Nothing")|truncate(30)}}</td>
    </tr>

{% endfor %}
</table>
{% else %}
    <p>{{ _('Sorry! No logs so far.') }}</p>
{% endif %}
<script>
</script>
{% endblock %}
