{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}
{% from "account/_helpers.html" import render_pagination %}

{% if project %}
{% block offcanvas %}
{{ helper.render_project_local_nav(project, active_link, current_user, pro_features) }}
{% endblock %}
{% endif %}

{% block parallax %}
{{ helper.render_project_image(project, active_link, current_user, pro_features) }}
{% endblock %}

{% block content %}

<div class="container-fluid">
  {% if project %}

  <!-- Project -->
  <div class="mb-3" >

    <h1>{{project.name}}</h1>
    {% if section %}
    <h2>{{section}}</h2>
    {% endif %}
  </div>

  {{helper.render_contribute_button(project)}}

  {% if active_link == 'info' %}
  <p><em>{{ overall_progress | round | int }}% {{_('completed')}}</em></p>
  {% endif %}
  <div class="col-md-12 p-3 shadow-sm mb-3">
  {% block projectcontent %}

  {% endblock %}
  </div>

</div>
{% else %}
<div class="page-header">
  <h1>There has been an error</h1>
  <p>
    {{ _('Sorry! This project does not exist.') }}
  </p>
</div>
{% endif %}
</div>
{% endblock %}
