{% extends "base.html" %}
{% set active_page = "community"  %}
{% import "privacy/locked.html" as privacy %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as projecthelper %}

{% block content %}
<h1 class="mt-3">{{ _('Community') }}</h1>

<div class="container">
  <div class="col-md-12">
    {% if enforce_privacy and (current_user.is_anonymous or (current_user.is_authenticated and not
      current_user.admin)) %}
      {{ privacy.render_lock_page() }}
      {% else %}
      <a class="btn btn-primary" href="{{url_for('leaderboard.index')}}"><i class="icon-trophy" style="color:white"></i> {{ _('Leaderboard') }}</a>
      <p>{{total}} registered users on the platform since October 2013</p>
      <p>We only show you people who have contributed to our projects.</p>

      {% if accounts %}
      <div class="row">
        {% for account in accounts %}
        <div class="col-md-3 mb-3">
          <div class="card">
            {{ helper.render_user_thumbnail(account, upload_method, class="card-img-top")}}
            <div class="card-body">
              <h5>
                <a href="{{url_for('account.profile', name=account.name)}}" title="{{account['fullname']}}">{{account['fullname']}}</a>
              </h5>
              <p class="card-text">
                <strong>Registered</strong> {{ account.registered_ago }}
              </p>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      {% endif %}
      {% if pagination.has_next %}
      {{ pagination.info }}
      <div class="col-md-9">
        {% if pagination.pages > 2 %}
        {{ helper.render_pagination(pagination) }}
        {% endif %}
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  
  {{ projecthelper.broken_image()}}

  {% endblock %}
