{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container shadow-sm p-3 mb-3 mt-3">
  <div class="row">
    <legend>{{ _('Reset your Password') }}</legend>
    <form method="post" role="form">
      <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.new_password, placeholder=_('my new password')) }}
        {{ render_field(form.confirm, placeholder=_('my new password again')) }}
        <div>
          <input type="submit" value="Save the changes" class="btn btn-primary btn-lg" />
          <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-info btn-lg">{{ _('Cancel') }}</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
