{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container shadow-sm p-3 mb-3 mt-3">
  <div class="row">
    <legend>{{ _('Reset your Password') }}</legend>
    <form method="post" role="form">
      <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.email_addr, placeholder= _('my e-mail'), class_="form-control" ) }}
        <div>
          <input type="submit" value="{{_('Reset my Password')}}" class="btn btn-primary btn-lg" />
          <a href="{{ url_for('account.signin') }}" class="btn btn-info btn-lg">{{ _('Cancel') }}</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
