{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

  <legend>Reset your Password</legend>
  <form method="post" role="form" class="form-horizontal">
      <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.new_password, placeholder="my new password",
      class_="form-control") }}
      {{ render_field(form.confirm, placeholder="my new password again",
      class_="form-control") }}
      <div>
        <input type="submit" value="Save the changes" class="btn btn-primary btn-lg" />
        <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-info btn-lg">Cancel</a>
      </div>
      </fieldset>
  </form>
{% endblock %}

