{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "profile" %}
{% import "account/_helpers.html" as helper %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="col-md-9">
        <h1><strong>{{current_user.fullname}}</strong></h1>
        <h2>{{ _('Your Profile') }}</h2>
        {{ helper.render_user_profile(current_user) }}
        <hr>
        <h2>{{ _('Your Contributions') }}</h2>
        {% for app in apps_contrib %}
        <div class="row well well-small">
            <div class="col-md-3">
              {% if app.info.thumbnail %}
              <img class="img-circle" src="{{app.info.thumbnail}}" width="100" height="100">
              {% else %}
              <img class="img-circle" src="{{url_for('static', filename='img/placeholder-head-grey.png')}}" width="100" height="100">
              {% endif %}
            </div>
            <div class="col-md-9">
                <h2><a href="{{url_for('app.details', short_name=app.short_name)}}">{{app.name}}</a></h2>
                  <p><i class="glyphicon glyphicon-tasks"></i> {{ _('You have contributed') }} <strong>{{app.n_task_runs}}</strong> {{ _('tasks') }}</p>
                  <a class="btn btn-primary" href="{{url_for('app.presenter', short_name=app.short_name)}}"><i class="glyphicon glyphicon-thumbs-up"></i> {{ _('Contribute!') }}</a>
                   <a href="https://twitter.com/share" class="twitter-hashtag-button"
    data-text="{{ _('I\'ve done') }} {{app.n_task_runs}} {{ _(' @MicroPasts task:') }} {{app.name}}. {{ _('Do you want to help?') }} {{url_for('app.details',short_name=app.short_name,_external=True)}}"
    data-count="none">{{ _('Tweet') }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
        </div><!-- end row-fluid -->
        {% endfor %}
    </div><!-- end span9 -->
</div>
{% endblock %}
