{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}
{% import "account/user_pref_metadata.html" as user_pref_metadata %}

{% block offcanvas %}
{{ helper.render_account_local_nav(current_user, active_link) }}
{% endblock %}

{% block content %}
<section class="account profile">
  <h2 class="mt-3">{{ _('Your Account') }}</h2>

  <div class="shadow-sm mb-3 p-2">
    <div class="col-md-12 ">
      Full name: {{current_user.fullname}}<br />
      {{ helper.render_user_profile(current_user, upload_method, "settings") }}
      {% if config.upref_mdata %}
      {{ user_pref_metadata.render_upref_mdata(user, form, can_update, input_form) }}
      {% endif %}
    </div>
  </div>
    <div>
      {% if projects_contrib | count > 0 %}
      {{ project_helper.render_grid_projects(projects_contrib,  _('Your Contributions'), upload_method, title_class="col-md-12", container=False)}}
      {% endif %}
    </div>
</section>
{% endblock %}
{% block extrajs %}
{% include "account/js/metadata.js" %}
{% endblock %}
