{% extends "base.html" %}
{% set active_page = "account" %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import render_grid_projects %}
{% from "projects/_helpers.html" import broken_image%}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if enforce_privacy and (current_user.is_anonymous or (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
        {% else %}
        <div class="row" id="user-data">
            <h1><strong>{{user.fullname}}</strong></h1>
            {{ helper.render_user_profile(user, upload_method, settings=False, private=False) }}
        </div>
        {% if projects_created %}
        <div class="row" id="created-apps" >
            {{render_grid_projects(projects_created, "Created Projects", upload_method)}}
        </div>
        {% endif %}
        {% if projects %}
        <div class="row" id="contributed-apps" >
            {{render_grid_projects(projects, "Contributions", upload_method)}}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>

{{ broken_image()}}
{% endblock %}
