{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<p style="padding-top:5px;">
<span class="label label-warning"><i class="glyphicon glyphicon-bullhorn"></i> {{ _('Note') }}</span> 
    {{ _('By click the') }} 
    <strong>{{ _('Create account button') }}
    </strong>{{ _('below you are agreeing to the') }}
    <a target="blank" href={{terms_of_use | safe}}>{{ _('terms of use') }} </a>{{ _('and') }} 
    <a href={{data_use | safe}}>{{ _('data') }}</a>.
</p>

  <legend>{{ _('Create an account') }}</legend>
  <form method="post" class="form-horizontal" action="{{ url_for('account.register') }}">
      {{ form.hidden_tag() }}
      <fieldset>
      {{ render_field(form.fullname, placeholder= _('Your full name')) }}
      {{ render_field(form.username, placeholder= _('Your username')) }}
      {{ render_field(form.email_addr, placeholder= _('Your email address')) }}
      {{ render_field(form.password, placeholder= _('Enter a password')) }}
      {{ render_field(form.confirm, placeholder= _('Re-enter the same password')) }}
      <div>
        <input type="submit" value="{{ _('Create an account') }}" class="btn btn-primary btn-large" />
        <input type="reset" value="{{ _('Cancel') }}" class="btn" />
      </div>
      </fieldset>
  </form>
{% endblock %}
