{% extends "base.html" %}

{% block content %}
<p style="padding-top:5px;">
<p style="padding-top:5px;">
<span class="label label-warning"><i class="glyphicon glyphicon-bullhorn"></i> {{ _('Note') }}</span>
    {{ _('By click the') }} <strong>{{ _('Sign in button') }}</strong> {{ _('below you are agreeing to
    the') }} <a href={{url_for('help.tos')}}>{{ _('terms of use') }}</a> {{ _('and') }}
    <a href={{data_use | safe}}>{{ _('data') }}</a>.
</p>
{% if next is not none%}
  {% if auth.twitter %}
  <a href="{{ url_for('twitter.login', next=next) }}" class="btn btn-info"><i class="glyphicon-inverse icon-twitter"></i> {{ _('Sign in with Twitter') }}</a>
  {% endif %}
  {% if auth.facebook %}
  <a href="{{ url_for('facebook.login', next=next) }}" class="btn btn-primary"><i class="glyphicon-inverse icon-facebook"></i> {{ _('Sign in with Facebook') }}</a>
  {% endif %}
  {% if auth.google %}
  <a href="{{ url_for('google.login') }}" class="btn btn-warning"><i class="glyphicon-inverse icon-google-plus"></i> {{ _('Sign in with Google') }}</a>
  {% endif %}
{% else %}
  {% if auth.twitter %}
  <a href="{{ url_for('twitter.login') }}" class="btn btn-info"><i class="glyphicon-inverse icon-twitter"></i> {{ _('Sign in with Twitter') }}</a>
  {% endif %}
  {% if auth.facebook %}
  <a href="{{ url_for('facebook.login') }}" class="btn btn-primary"><i class="glyphicon-inverse icon-facebook"></i> {{ _('Sign in with Facebook') }}</a>
  {% endif %}
  {% if auth.google %}
  <a href="{{ url_for('google.login') }}" class="btn btn-warning"><i class="glyphicon-inverse icon-google-plus"></i> {{ _('Sign in with Google') }}</a>
  {% endif %}
{% endif %}
<hr>

<div class="row">
    <div class="col-md-12">
{% from "_formhelpers.html" import render_field %}
  <form role="form" class="form" id="signin" method="post"  action="">
    {{ form.hidden_tag() }}
    {% if auth.twitter or auth.facebook%}
    <legend>{{ _('Or sign in with the account you created on this site') }}</legend>
    {% else %}
    <legend>{{ _('Or sign in with the account you created on this site') }}</legend>
    {% endif %}
      {{ render_field(form.email, placeholder="", class_="form-control") }}
      {{ render_field(form.password, placeholder="", class_="form-control") }}
    <div>
      <input type="submit" value="{{ _('Sign in') }}" class="btn btn-primary btn-sm" />
      <input type="reset" value="{{ _('Cancel') }}" class="btn btn-info btn-sm" />
    </div>
  </form>
  </div>
</div>

<div class="row">
    <div class="btn-group col-md-12">
        <a role="button" href="{{ url_for('account.register') }}" class="btn btn-success"><i class="glyphicon-white glyphicon glyphicon-user"></i>{{ _(' Create a new account!') }}</a>
        <a role="button" href="{{ url_for('account.forgot_password') }}" class="btn btn-success">{{ _('Forgot Password') }}</a>
    </div>
</div>
{% endblock %}
