{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="row">
    <div class="col-md-3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="col-md-9">
        <h1><strong>{{current_user.fullname}}</strong>: {{ _('Update your profile') }}</h1>
        <form role="form" method="post"  action="{{ url_for('account.update_profile') }}">
            <fieldset>
            {{ form.id }}
            {{ form.hidden_tag() }}
            {{ render_field(form.fullname, placeholder= _('my full name'), class_="form-control" ) }}
            {{ render_field(form.name, placeholder= _('myusername'), class_="form-control" ) }}
            {{ render_field(form.email_addr, placeholder= _('hello@mywebsite.org'), class_="form-control" ) }}
            {{ render_field(form.locale, class_="form-control" ) }}
            <hr>
            <h2>External Services</h2>
            {{ render_field(form.ckan_api, class_="form-control") }}
            <div>
                <img class="img-circle" height="50" width="50" src="{{ current_user.email_addr | gravatar(size=50,default='http://crowdsourced.micropasts.org/static/img/avatar/gravatar.png')}}">
                <a class="btn btn-sm btn-default" href="http://www.gravatar.com">{{ _('Change your avatar at Gravatar.com.') }}</a> <p>{{ _('We are using the current email address of: ') }} {{current_user.email_addr}}</p>
                <hr>
                <span class="label label-warning"><i class="glyphicon glyphicon-white glyphicon-star"></i> {{ _('Note') }}</span> {{ _('If you change your') }} <strong>{{ _('user name') }}</strong> {{ _('you will be asked to sign in again.') }}
            </div>
            <div class="btn-group">
              <input type="submit" value="{{ _('Save the changes') }}" class="btn btn-primary btn-sm" />
              <a href="{{ url_for('account.settings') }}" class="btn btn-sm btn-primary">{{ _('Cancel') }}</a>
            </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
