<div class="row">
  <h2 class="mt-3">{{ _('About') }}</h2>

  <div class="col-md-12 shadow-sm mb-3 p-3">
    <p>
      MicroPasts is a free and open-source, crowd-sourcing platform which
      supports massive online data collection about the human past
      (e.g. for researchers in archaeology, history and heritage).
      It is inspired by existing multi-application, crowd-sourcing
      projects such as <a href="http://www.zooniverse.org/">Zooniverse</a>,
      Libcrowds or <a href="http://crowdcrafting.org/">Crowdcrafting</a>
      and, like the latter two, is built using the excellent
      <a href="http://docs.pybossa.com/">Pybossa</a> platform.
    </p>
    <p>
      PyBossa handles storage of data, management of users, and overall
      workflow, while individual projects are written in Javascript and
      HTML5.
    </p>
    <p>
      For now, we are developing example projects for common research tasks
      that require either widespread user contributions (such as on-location
      photography) or human intelligence (such as geocoding, image classification,
      transcription and more). In the future, we also wish to help researchers
      in archaeology, history and heritage to create their own crowd-sourcing
      projects from scratch and host them here.
    </p>
    <p>
      All the software and data we create is placed immediately into the public d
      omain under an open licence.
    </p>

  </div>

  <h2 id="contact mt-3">Contact information</h2>
  <div class="col-md-12 shadow-sm mb-3 p-3">
    <ul>
      <li>
        For more info, send us an e-mail to: <a href="mailto:info@micropasts.org">info@micropasts.org</a>
        or <a class="btn btn-info btn-xs" href="http://twitter.com/micropasts"><i class="fab fa-twitter"></i> Follow us on Twitter!</a>
      </li>
      <li>
        Report any bug, issue or improvement: <a class="btn btn-info btn-xs"
        href="https://github.com/findsorguk/MicroPasts-pybossa-theme/issues"><i class="fab fa-github"></i> Github Issues</a>
      </li>
    </ul>
  </div>
</div>
