<p>
  You can assist existing research projects with tasks that need human
  intelligence, such as the accurate location of artefact findspots or
  photographed scenes, the identification of subject matter in historic
  archives, the masking of photos meant for 3D modelling, or the transcription of
  letters and catalogues. Other tasks might require on-location
  contributions by members of the public, such as submitting your own
  photographs of particular archaeological sites or objects. By
  contributing to a MicroPasts project you will:
</p>
<ul>
  <li>Have a direct impact on research in archaeology, history and heritage</li>
  <li>Help with tasks that computers cannot do</li>
  <li>Develop skills that interest you</li>
  <li>Produce results that will be open and freely usable</li>
</ul>
<p>
  To start contributing, just choose one of our featured projects below or visit
   our full list of ongoing <a href="{{ url_for('project.index') }}" >Projects</a>.
</p>
