  <h2>Meet the founders</h2>
  <div class="row">

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="/static/img/team/andy.jpg" class="card-img-top" />
        <div class="card-body">
          <h4>Professor Andrew Bevan</h4>
          <p>Institution: University College London</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="/static/img/team/daniel.jpg" class="card-img-top" />
        <div class="card-body">
          <h4>Daniel Pett</h4>
          <p>Institution: University of Cambridge</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="/static/img/team/chiara.jpg" class="card-img-top" />
        <div class="card-body">
          <h4>Dr Chiara Bonacchi</h4>
          <p>Institution: University of Stirling</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="/static/img/team/neil.jpg" class="card-img-top" />
        <div class="card-body">
          <h4>Dr Neil Wilkin</h4>
          <p>Institution: The British Museum</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="/static/img/team/adi.jpg" class="card-img-top" />
        <div class="card-body">
          <h4>Dr Adi Keinan-Schoonbaert</h4>
          <p>Institution: The British Library</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="/static/img/team/jennifer.jpg" class="card-img-top" />
        <div class="card-body">
          <h4>Dr Jennifer Wexler</h4>
          <p>Institution: The British Museum</p>
        </div>
      </div>
    </div>

  </div>
