{% extends "basePlate.html" %}

{% block content %}
<div class="background">


        <div class="row jumbotron">
          <div class="col-md-12 ">
              <h1>{{ brand }}: Crowdsourcing</h1>

          </div>
		</div>

        <div class="row well" >
        	<div class="col-md-4">
        		<img src="{{url_for('static', filename="img/MP_SQUARE_notype.png")}}" />
        	</div>
        	<div class="col-md-8">
        	<h2>{{ title }}</h2>
			{% include ['custom/front_page_text.html', 'home/_pybossa_text.html'] ignore missing %}
        	</div>
        </div>


</div>

	<div class="well row">
        	<h2><i class="glyphicon glyphicon-th"></i> Featured projects</h2>
		<div class="row">
                {% for f in featured %}
          <div class="col-md-3">
            <div class="app box">
                <a href={{ url_for('app.details', short_name=f.short_name)}}>
                    {% if f.info.thumbnail %}
                    <img src="{{f.info.thumbnail}}">
                    {% else %}
                    <img src="{{url_for('static', filename="img/placeholder.dark.png")}}">
                    {% endif %}
                    <h3>{{f.name}}</h3>
                    <span class="label label-info">{{ _('Info') }}</span>
                    </a>
	     </div>
	          </div>
                {% endfor %}

          </div>
            </div>


      <div class="row well">
        <h2><i class="glyphicon glyphicon-th"></i> {{ _('Most Active Applications') }}</h2>
        <div class="row">
          {% for app in top_apps %}
          <div class="col-md-3">
            <div class="app box">
                {% if app.info.thumbnail %}
                <a href="{{url_for('app.details', short_name=app.short_name)}}" class="image" style="background-image:url({{app.info.thumbnail}})"></a>
                {% else %}
                <a href="{{url_for('app.details', short_name=app.short_name)}}" class="image" style="background-image:url({{url_for('static',filename='placeholder-head-grey.png')}})"></a>
                {% endif %}
                <h3>{{app.name | truncate(20, true)}}</h3>
                <p>{{app.description | truncate(32, true)}}</p>
                <p><a href="{{url_for('app.details',short_name=app.short_name)}}" class="btn btn-xs btn-info">Info</a> <a href="{{url_for('app.presenter',short_name=app.short_name)}}" class="btn btn-xs btn-primary">{{ _('Start') }}</a></p>
            </div>
          </div>
          {% endfor %}
          {% for i in range(4-top_apps|count)%}
          <div class="col-md-3">
            <div class="app box">
                <a href="#" class="image" style="background-image:url({{url_for('static',filename='img/placeholder-head-grey.png')}})"></a>
                <h3>{{ _('Your application') }}</h3>
                <p>{{ _('could be here!') }}</p>
                {% if current_user.is_authenticated() %}
                {% if current_user.admin == 1 %}
                <p><a href="{{url_for('app.new')}}" class="btn btn-xs btn-primary">{{ _('Create an app') }}</a></p>
                {% endif %}
                {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% if top_users %}
      <div id="top_users" class="row well">
        <h2><i class="icon-group"></i>{{ _('Most Active Volunteers') }}</h2>
        <ul class="users">
            {% for user in top_users %}
          <li>
          <a href="{{url_for('account.public_profile', name=user.name)}}" data-content="
                <strong>{{_('Joined')}}:</strong> {{user.created[0:10]}}
                <br/>
                <strong>{{_('Submitted Tasks')}}:</strong> {{user.task_runs}}
                " rel="popover" data-original-title="<strong>{{user.fullname}}</strong>">
                <img class="img-circle" src="{{user.email_addr|gravatar(size=90,default='http://crowdsourced.micropasts.org/static/img/avatar/gravatar.png')}}">
           </a>
           <span class="label label-success">{{user.task_runs}}</span> {{_('Tasks')}}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
<script>
$("a[rel=popover]").popover({
        html: true,
        animation: true,
        trigger: 'hover',
        placement: 'top'
                });
</script>
{% endblock %}
