{% extends "/base.html" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='vendor/codemirror/codemirror.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='vendor/codemirror/codemirror.css')}}"/>
<script src="{{url_for('static', filename='vendor/codemirror/mode/xml/xml.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/javascript/javascript.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/css/css.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/htmlmixed/htmlmixed.js')}}"></script>
<style>
    iframe {
        width: 100%;
        height: 320px;
    }
    .CodeMirror {
        width: 700px;
      }
</style>

<div class="row">
    <div class="col-md-3">
        {{ helper.render_app_local_nav(app, 'settings', current_user) }}
    </div>
  <div class="col-md-9">
      <legend><strong>{{app.name}}</strong>: Update the application</legend>
    <form class="form-horizontal" method="post" action="{{ url_for('app.update', short_name = app.short_name) }}">
      <fieldset>
        {{form.id}}
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class_="form-control", placeholder="The name of the application") }}
        {{ render_field(form.short_name, class_="form-control", placeholder="Short name or slug for the application") }}
        {{ render_field(form.description, class_="form-control", placeholder="Give some details about the application")}}
        {{ render_field(form.thumbnail, class_="form-control", placeholder="Paste the direct link to your app icon")}}
        {{ render_field(form.allow_anonymous_contributors, class_="form-control")}}
        {{ render_field(form.category_id, class_="form-control")}}
        {{ render_field(form.long_description, class_="form-control", placeholder="Explain the application (you can use HTML code!)")}}
        {{ render_field(form.hidden, tooltip="Do you want to hide your app?")}}
        <div class="form-actions">
          <input type="submit" value="Save the changes" class="btn btn-primary" />
          <a href="{{url_for('app.settings', short_name=app.short_name)}}" class="btn btn-primary">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script>
    $("i[rel='tooltip']").tooltip();
</script>

<script>
    var delay;
    var editor = CodeMirror.fromTextArea(document.getElementById('long_description'), {
        mode:'text/html',
        lineNumbers: true,
        autofocus: true,
    });

    function updatePreview() {
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write(editor.getValue());
        preview.close();
    }
    $(".btn-preview").off('click').on('click', function(){
        updatePreview();
        $("#modal-preview").modal('show');
    });
</script>
{% endblock %}
