/*!
 * Sourcing for Good
 * by Sam Smith
 * To be used on top of Bootstrap
 */
/* Styling */
/* ======= */
body {
  color: #484848;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Museo Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 24px;
  line-height: 26px;
}
h2 {
  font-size: 18px;
  line-height: normal;
}
h3 {
  font-size: 15px;
  line-height: normal;
}
h1 [class^="icon-"],
h2 [class^="icon-"],
h3 [class^="icon-"],
h4 [class^="icon-"],
h5 [class^="icon-"],
h6 [class^="icon-"] {
  color: #8bbf36;
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 5px;
}
a[rel="popover"] {
  cursor: pointer;
}
.label {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #7a7a7a;
}
.label-info {
  background-color: #4190c2;
}
.label-success {
  background-color: #8bbf36;
}
input:focus,
textarea:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
}
/* Layout */
/* ====== */
html {
  overflow-x: hidden;
}
body {
  padding-top: 100px;
  /* Allow for Header */

  font-size: 13px;
}

.banner {
  background-color: #f7f7f7;
  position: relative;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  margin-left: -10px;
}
.banner:before,
.banner:after {
  content: "";
  position: absolute;
  background-color: #f7f7f7;
  top: 0;
  bottom: 0;
  width: 9999px;
}
.banner:before {
  right: 100%;
  border-right: solid 10px #FFF;
}
.banner:after {
  left: 100%;
  border-left: solid 10px #FFF;
}
section.grey {
  position: relative;
}
section.grey,
section.grey:before,
section.grey:after {
  background-color: #eeeeee;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}
section.grey:before,
section.grey:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 9999px;
}
section.grey:before {
  right: 100%;
}
section.grey:after {
  left: 100%;
}
.box {
  background-color: #FFF;
  border: 1px solid #d9d9d9;
}
.app.box {
  padding: 5px;
  min-height: 138px;
  margin-bottom: 15px;
}
.app.box .image {
  display: block;
  max-width: 208px;
  width: 100%;
  height: 138px;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.app.box h3 {
  padding: 10px 5px 2px 5px;
  margin: 0px;
}
.app.box p {
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.app.box .btn {
  margin: 0px 4px 0px 0px;
}
body > footer,
html {
  background-color: #000;
}
body > footer {
  border-top: 20px solid #686868;
}
body > footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Home Page */
/* ========= */
.banner > .row .span4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner > .row .span4 > * {
  padding-left: 10px;
}
.banner .featured {
  margin: -6px 0px 0px 0px;
  border-left: solid 2px #FFF;
  height: 309px;
  overflow: hidden;
}
.banner .featured li {
  display: block;
  float: left;
  width: 103px;
  height: 103px;
  background-color: #FFF;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 97px 97px;
}
.banner .featured li a {
  display: block;
  margin: 6px 0px 0px 6px;
  text-decoration: none;
}
.banner .featured li a h3 {
  margin: 2px 6px 0px 6px;
  color: #333333;
  font-size: 12px;
}
.banner .featured li a .label {
  margin: 6px;
  display: inline-block;
}
.banner .featured li a:hover {
  position: absolute;
  margin: -2px 0px 0px -2px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  background-color: #FFF;
  width: 112px;
  z-index: 2;
}
.banner .featured li a:hover img {
  border: solid 6px #FFF;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  width: 100px;
}
.banner .featured li img {
    min-width: 100px;
    min-height: 100px;
}
.get-started .span4 p:first-of-type {
  margin-top: -10px;
}
.get-started .span8 .btn {
  margin: 18px 0px 18px 10px;
}
ul.users {
  margin: 0px 0px 10px -3px;
  height: 128px;
  overflow: hidden;
}
ul.users li {
  display: inline-block;
  margin: 0px 0px 5px 3px;
}
ul.users li a {
  display: block;
  border: solid 4px #FFF;
  margin-bottom: 5px;
}

/* Cookies banner */

#cookies_warning {
    position: fixed;
    color: rgb(221, 221, 221);
    min-height: 30px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
    padding: 6px 20px 4px;
    background-color: rgba(70, 70, 70, 0.9);
    text-align: left;
}

#cookies_warning > p {
    margin-top: 8px;
}

#navigation

.navbar {
	height: 80px;
	background-color: #000;
}
.glyphicon-inverse {
	color: #fff;
}