{% extends "admin/base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h1 class="mt-3">
  {{ _('Admin Site') }}: {{ _('Manage Categories') }}
</h1>

<div class="container shadow-sm p-3 mb-3">
  <div id="categories" class="col-md-12">
    <div class="row">
      <div id="add" class="col-md-12">
        <form method="POST" action="{{url_for('admin.categories')}}">
          {{form.hidden_tag()}}
          <fieldset>
            {{ render_field(form.name, placeholder= _('Category name')) }}
            {{ render_field(form.description, placeholder= _('Category description')) }}
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">{{_('Add Category')}}</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<h1 class="mt-3">{{_('List of Available Categories')}}</h1>

<div class="container">
  <div class="row">
  {% if categories %}
    {% for c in categories %}
    <div class="col-sm-4 col-md-4 mb-3">
      <div class="card" >
        <div class="card-body">
          <h2 class="card-title">{{c.name}} </h2>
          <p class="card-text">{{n_projects_per_category[c.short_name]}} projects</p>
          <a href="{{url_for('admin.update_category', id=c.id)}}" class="btn btn-primary"><i class="icon-edit"></i> {{_('Edit Category Name')}}</a>
          {% if n_projects_per_category[c.short_name] == 0 and (categories | count > 1) %}
          <a href="{{url_for('admin.del_category', id=c.id)}}" class="btn btn-danger"><i class="icon-trash"></i> {{_('Delete Category')}}</a>
          {% else %}
          <a href="#" class="btn btn-danger disabled"><i class="icon-trash"></i> {{_('Delete Category')}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
