{% extends "admin/base.html" %}
{% from "projects/_helpers.html" import render_grid_projects %}
{% block offcanvas%}
    {{ helper.render_account_local_nav(current_user, active_link) }}
{% endblock %}

{% block content%}
<h2 class="mt-3">{{ _('Manage featured projects') }}</h2>
    {% for c in categories %}
    {{ c.name }}
    <div id="{{c.short_name}}">
        {{ render_grid_projects(projects[c.short_name], c.name, upload_method, featured=True, title_class="", container=False)}}
    </div>
    {% endfor %}
{% endblock %}
{% block extrajs %}
{% include "admin/js/featured_projects.js" %}
{% endblock %}
