{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% import "projects/_helpers.html" as helper %}
{% set active_link = 'tasks' %}
{% set section = _('Import tasks') %}

{% from "_formhelpers.html" import render_field %}

{% block projectcontent %}
  <h3 class="mt-3">
    {{_('From a Flickr Album')}}
  </h3>

  <div class="col-sm-12 shadow-sm mb-3 p-3">
    <a id="revoke" href="{{ url_for('flickr.logout', next=url_for(target, short_name=project.short_name, type='flickr')) }}" class="btn btn-warning pull-right mb-3" style="display:none;">{{ _('Revoke access') }}</a>
    <br>
    <div id="grant">
      <p>
        {{ _('Grant access to your Flickr albums to select one...') }}
      </p>
      <a href="{{ url_for('flickr.login', next=url_for(target, short_name=project.short_name, type='flickr')) }}" class="btn btn-primary mb-3">{{ _('Log in Flickr') }}</a>
    </div>
  </div>

  <div id="albums-container">
      <div id="albums" class="row">

      </div>
  </div>

  <div class="col-sm-12 shadow-sm mb-3 p-3">
    <form method="post" action="{{ url_for(target, short_name=project.short_name) }}">
      <fieldset>
        {{ form.hidden_tag() }}
        <span class="help-inline"> {{ _('Or manually provide the ID of a Flickr set with images for') }} {{ active_project }}. <br/> {{ _('For more information, please look at') }} <a href="http://docs.pybossa.com/en/latest/user/overview.html#importing-the-tasks-from-a-flickr-photo-set" target="_blank">{{ _('the documentation') }}.</a></span>
        {{ render_field(form.album_id, placeholder="The ID of the Flickr set") }}
        <div class="form-actions">
          <input id="submit" type="submit" value="{{_('Import')}}" class="btn btn-primary" />
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}

{% block extrajs %}
<script>
  $("#submit").off('click').on('click', function(){
    var msg = "{{_('Importing data...')}}";
    pybossaNotify(msg, true, "loading");
  });
</script>
<script type="text/javascript">
  $(function() {
    $.get('/flickr/albums').done(function(albums) {
      if (albums.hasOwnProperty('length') && albums.length > 0) {
        $('#revoke').show();
        $('#grant').hide();
        $('#albums-container').prepend('<p>'+"{{ _('Select one of your albums:') }}"+'</p>');
        albums.forEach(function(album){
          var albumElement = $('<div class="col-md-4"><div class="card"><img class="card-img-top" src="'+album.thumbnail_url+'"/><div class="card-body"><h2>'+album.title+'</h2><p class="card-text">'+album.photos+' {{ _('photos') }}</p><button id="'+album.id+'" class="btn btn-info btn-sm btn-album">{{ _('Select') }}</button></div></div></div>');
          $('#albums').append(albumElement);
        });
      }
      $(".btn-album").each(function(){
        $(this).off('click').on('click', function(evt){
          evt.preventDefault();
          document.getElementById('album_id').value = $(this).attr('id');
        });
      });
    });
  });
</script>
{% endblock %}
