{% extends "base.html" %}
{% set active_page = "support" %}

{% block content %}
<h1 class="lead text-danger mt-3">Something's wrong</h1>
<div class="container-fluid shadow-sm mb-3 p-3">
  <div class="row">
    <div class="col-md-12">

      <p class="lead">It looks as though we have broken something on our system, sorry</p>
      <p class="lead">We will try to fix it as soon as we can!</p>

      <a id="btnHome" href="{{url_for('home.home')}}" class="btn btn-lg btn-info" style="display:none;">
        <i class="glyphicon glyphicon-icon-home"></i>
        Go Home
      </a>
      <a id="btnBack" href="#" class="btn btn-lg btn-info" onclick="history.back()" style="display:none;">
        <i class="glyphicon glyphicon-icon-arrow-left"></i>
        Go Back</a>
      </div>
    </div>
  </div>
  <script>
    console.log(history.length);
    if (history.length > 1) {
      $("#btnBack").show();
    }
    else {
      $("#btnHome").show();
    }

  </script>
  {% endblock %}
