<div class="container-fluid mb-3">
  <h1 class="text-center mb-3">Discover more</h1>
  <div class="col-md-12">
    <div class="row" id="cats" >
    </div>
  </div>
</div>



<script>
  $( document ).ready(function() {
    let endpoint = 'https://crowdsourced.fitz.ms/api/category';
      $.ajax({
          url: endpoint,
          contentType: "application/json",
          dataType: 'json',
          success: function(result){
              console.log(result);
              var array = result;
              listItems = array.reduce((record, item) => {
              // Add a string to the result for the current item. This syntax is using template literals.
              record += `<div class="col-md-3 mb-3 p-3"><div class="card h-100"><div class="card-body"><h4 class="card-title text-center">${item.name}</h4></div></div></div>`;
              // Always return the result in the reduce callback, it will be the value or result in the next iteration.
              return record;

            }, ''); // The '' is an empty string, it is the initial value result.
            console.log(listItems);
            // Get the element from the DOM in which to display the list, this should be an ul or ol element.
            resultElement = document.getElementById('cats');

          // Set the inner HTML
          resultElement.innerHTML = listItems;

          }
      });
  });

</script>
