

<!-- Footer logos -->
<div class="container-fluid bg-white p-2 container-fluid bg-white text-black">
  <div class="col-md-12 mx-auto">
    <div class="row justify-content-center mb-4">
      <div class="col-md-2 col-sm-2">
        <a href="https://www.ucl.ac.uk/"><img class="img-fluid mx-auto " alt="UCL Logo" src="/static/img/UCL-Logo.png" loading="lazy"  /></a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a href="https://www.museums.cam.ac.uk"><img class="img-fluid mx-auto " loading="lazy" alt="University of Cambridge Museums logo" src="/static/img/ucm_logo_black_white.png"  /></a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a href="https://www.stir.ac.uk"><img class="img-fluid mx-auto " loading="lazy" alt="University of Stirling logo" src="/static/img/university-of-stirling.png" /></a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a href="https://www.britishmuseum.org"><img class="img-fluid mx-auto " loading="lazy" alt="British Museum logo" src="/static/img/british-museum-logo-vector.png" /></a>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-white p-2 container-fluid bg-white text-black">
    <div class="col-md-2 col-sm-2 mx-auto">
      <a href="https://ahrc.ukri.org/"><img class="img-fluid mx-auto " alt="AHRC logo" loading="lazy" src="/static/img/AHRC_new.jpg" /></a>
    </div>
  </div>

  <!--- Footer stuff -->
  <footer class="text-black bg-white">
    <div class="container">
      <div class="row pt-2">
        <div class="col-md-3 offset-md-2 mb-2 mr-2">
          <img src="/static/img/micropasts.png" class="img-fluid float-left p-3"
          alt="The MicroPasts logo">
        </div>
        <div class="col-md-3 mt-2 mb-2">
          <h4 class="sr-only">Useful links</h4>

          <ul class="share">
            <li><a href="/help/terms-of-use">Terms of use</a></li>
            <li><a href="/about">About MicroPasts</a></li>
            <li><a href="/help/api">API</a></li>
          </ul>
        </div>
        <div class="col-md-3 mt-2 mb-2">
          <h4 class="sr-only">License</h4>
          <ul class="share">
            <li><a href="/help/license">Licensing</a></li>
            <li>Content: CC-BY</li>
            <li>Code: GPL-V3</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-2">
        <div class="col-md-6  mx-auto">
          <h4 class="sr-only">Join our conversations</h4>
          <p class="share text-center">
            <a aria-label="Twitter account" href="https://twitter.com/micropasts"><i class="fab fa-twitter fa-2x p-2"></i></a>
            <a aria-label="Github account" href="https://www.github.com/micropasts"><i
              class="fab fa-github fa-2x p-2"></i></a
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6  mx-auto">
            <p class="text-center">
              &copy; 2020 The University of Cambridge, UCL, University of Stirling
            </p>
          </div>
        </div>
      </div>
      <a href="#0" class="cd-top js-cd-top">Top</a>
    </footer>
