	<div class="container">
        <div class="row centre-text">
          <div class="col-md-2 col-md-offset-2">
              <a href="http://www.britishmuseum.org/"><img src="/static/img/bm_logo.png" class="logoFooter"></a>
          </div>
          <div class="col-md-2">
              <a href="http://ucl.ac.uk/"><img src="/static/img/ucl-home_trans_small.png" class="logoFooter"></a>
          </div>
          <div class="col-md-2">
              <a href="http://www.ahrc.ac.uk/"><img src="/static/img/AHRClogo.jpg" class="logoFooter"></a>
          </div>
          <div class="col-md-2">
              <a href="http://dev.pybossa.com/"><img src="/static/img/pybossa.png" class="logoFooter"></a>
          </div>
        </div>
      </div>
