      <div class="container">
        <div class="row-fluid centre-text">
          <div class="span4">
              <a href="http://www.britishmuseum.org/"><img src="{{url_for('static', filename='img/bm_logo.png')}}"></a>
          </div>
          <div class="span4">
              <a href="http://ucl.ac.uk/"><img src="{{url_for('static', filename='img/uclLogo.png')}}"></a>
          </div>
          <div class="span3">
              <a href="http://www.ahrc.ac.uk/"><img src="{{url_for('static', filename='img/ahrcLogo.png')}}"></a>
          </div>
          <div class="span4">
              <a href="http://dev.pybossa.com/"><img src="{{url_for('static', filename='img/pybossa.png')}}"></a>
          </div>
        </div>
      </div>
