<header>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">MicroPasts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home.home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('account.index')}}" class="nav-link"">{{ _('Contributors') }}</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('project.index') }}" class="nav-link">{{ _('Projects') }}</a>
            </li>
            <li class="nav-item">
              <a href="https://blog.micropasts.org/data-centre" class="nav-link">Data</a>
            </li>
            <li class="nav-item">
              <a href="https://blog.micropasts.org/learning" class="nav-link">Learning</a>
            </li>
            <li class="nav-item">
              <a href="https://blog.micropasts.org" class="nav-link">Research Blog</a>
            </li>
            {% if current_user.is_authenticated %}
            <li {% if active_page == 'profile' %} class="nav-item dropdown" {% endif %}>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('account.profile', name=current_user.name) }}"> {{ _('My Profile') }}</a>
                <a class="dropdown-item" href="{{ url_for('account.projects', name=current_user.name) }}"> {{ _('My Projects') }}</a>
                <a class="dropdown-item" href="{{ url_for('account.update_profile', name=current_user.name) }}"> {{ _('My Settings') }}</a>
                {% if current_user.admin == 1 %}
                <div class="divider"></div>
                <a class="dropdown-item" href="{{ url_for('admin.index') }}">{% if notify_admin %} <span class="label label-info ">{{ news |count }}</span>{% else %}{% endif %} {{ _('Admin Site') }}</a>
                {% endif %}
                <div class="divider"></div>
                <a class="dropdown-item" href="{{ url_for('account.signout') }}"> {{ _('Sign Out') }}</a>
              </div>
            </li>
            {% else %}
            <li><a href="{{ url_for('account.signin') }}" class="nav-link"> {{ _('Sign in') }}</a></li>

            {% endif %}
          </ul>
          {% include '_gcs_form.html' ignore missing %}

        </div>
      </nav>

</header>
